/* css reset --> */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* <-- css reset */

/* fonts --> */
@font-face {
  font-family: 'Technology';
  src: url('fonts/Technology-Italic.woff2') format('woff2'),
    url('fonts/Technology-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Technology';
  src: url('fonts/Technology-Regular.woff2') format('woff2'),
    url('fonts/Technology-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Technology';
  src: url('fonts/Technology-Bold.woff2') format('woff2'),
    url('fonts/Technology-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Technology';
  src: url('fonts/Technology-BoldItalic.woff2') format('woff2'),
    url('fonts/Technology-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

/* <-- fonts */

body {
  background: url('/pexels-pixabay.jpg') no-repeat;
  background-size: cover;
  background-position: 20px bottom 20px left;
  font-family: 'Technology', sans-serif;
  font-size: 60px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 60px;
  color: antiquewhite;
  text-align: center;
}

body > section > div {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  opacity: 1;
  z-index: 1;
}

body > section {
  margin-top: 50px;
  border-width: 10px;
  border-style: solid;
  border-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%) 1;
  border-radius: 20px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.alarmTimeClock {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.alarmTimeClock .controls {
  display: flex;
  gap: 40px;
}

.alarmTimeClock .controls button {
  border: none;
  border-radius: 10px;
  background-color: transparent;
  color: antiquewhite;
}

.alarmTimeClock > input {
  border: none;
  border-radius: 10px;
  width: 250px;
  padding-left: 10px;
}
